/*global css*/
body,html,h1,h2,h3,h4,h5,h6,big,small,sub,sup,input,select,textarea{font-size:12px; color:#333; -webkit-text-size-adjust:none; outline:0;}/* font-family:Arial, Helvetica, sans-serif;*/
header,footer,section,aside,nav,hgroup,figure,figcaption{display:block; margin:0; padding:0; border:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,blockquote{padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
li{list-style-type:none;}
img{max-width:100%; max-height:100%; border:none;}
input[type='text'],input[type='number'],input[type='password'],input[type='reset'],input[type='submit'],input[type='button'],input[type='tel'],button,textarea{-webkit-appearance:none; border-radius:0; border:1px solid #ddd;}
textarea{resize:none;}
table{border-collapse:collapse; border-spacing:0;}

/*文字大小，颜色，行距定义*/
.fz_12px{font-size:12px;}
.fz_14px{font-size:14px;}
.fz_16px{font-size:16px;}
.fc_red{color:#ff0000;}
.fc_grey{color:#aaa;}
.fc_gory{color:#666;}
.fc_white{color:#fff;}
.fc_yellow{color:#ff6600;}
.flh_150{line-height:150%;}
.flh_180{line-height:180%;}

/*float*/
.fl{float:left;}
.fr{float:right;}

/*form*/
.form_input{color:#333; height:20px; line-height:20px;}
.form_area{color:#333; line-height:180%; resize:none; overflow:auto;}
.form_button{border:none; background:#505050; color:#fff; height:22px; line-height:22px; padding:0 5px; overflow:hidden; width:80px;}
.form_focus{border-color:red;}
.form_input.center{text-align:center;}
.default_button_bg{background-color:#005AB0;}

/*padding*/
.clear{margin:0px auto; clear:both; height:0px; font-size:0px; overflow:hidden;}
.blank3{margin:0px auto; clear:both; height:3px; font-size:1px; overflow:hidden;}
.blank6{margin:0px auto; clear:both; height:6px; font-size:1px; overflow:hidden;}
.blank9{margin:0px auto; clear:both; height:9px; font-size:1px; overflow:hidden;}
.blank12{margin:0px auto; clear:both; height:12px; font-size:1px; overflow:hidden;}
.blank15{margin:0px auto; clear:both; height:15px; font-size:1px; overflow:hidden;}
.blank20{margin:0px auto; clear:both; height:20px; font-size:1px; overflow:hidden;}
.blank25{margin:0px auto; clear:both; height:25px; font-size:1px; overflow:hidden;}
.clean{zoom:1;}
.clean:after,.clean:before{content:''; display:table;}
.clean:after{clear:both;}

/*a*/
a{color:#333; text-decoration:none;}
a:hover{text-decoration:underline;}
a.red{color:red; text-decoration:none;}
a.red:hover{color:red; text-decoration:underline;}

/*turn page*/
#turn_page{text-align:center; height:35px; line-height:35px; clear:both;}
#turn_page li{border:1px #cecece solid; display:inline-block; *display:inline; *zoom:1; font-size:14px; height:33px; line-height:33px; overflow:hidden; background:#fff; vertical-align:top; margin:0 4px; border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#turn_page li em{width:7px; height:12px; display:inline-block; vertical-align:middle; margin-top:-2px;}
#turn_page font, #turn_page a{width:32px; height:33px; display:block; text-align:center; text-decoration:none;}
#turn_page .page_item_current{background:#333; color:#fff; cursor:default;}
#turn_page .page_button, #turn_page .page_noclick{width:auto; padding:0 12px;}
#turn_page .page_noclick{cursor:no-drop;}
.icon_page_prev{background:url(img/global/normal.png) no-repeat -391px -24px; margin-right:6px;}
.icon_page_next{background:url(img/global/normal.png) no-repeat -408px -24px; margin-left:6px;}

/************************************************************/
.pic_box span{vertical-align:middle; height:100%; display:inline-block;}
.pic_box img{vertical-align:middle;}
.error, .error_info{color:#900; margin:0; font-family:Verdana;}
/***** clear(清除浮动) start *****/
.clearfix:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
/***** clear(清除浮动) end *****/

/***** star(评价星号) start *****/
.star{background:url(img/global/star.png) no-repeat; display:inline-block; overflow:hidden; position:relative; vertical-align:middle; z-index:1;}
.star_s0, .star_s1, .star_s2, .star_s3, .star_s4, .star_s5{height:14px; width:70px}
.star_s0{background-position:-70px -20px}
.star_s1{background-position:-56px -20px}
.star_s2{background-position:-42px -20px}
.star_s3{background-position:-28px -20px}
.star_s4{background-position:-14px -20px}
.star_s5{background-position:0 -20px}
.star_b0, .star_b1, .star_b2, .star_b3, .star_b4, .star_b5{width:100px; height:19px}
.star_b0{background-position:-100px -59px}
.star_b1{background-position:-80px -59px}
.star_b2{background-position:-60px -59px}
.star_b3{background-position:-40px -59px}
.star_b4{background-position:-20px -59px}
.star_b5{background-position:0 -59px}
.star_h1, .star_h2, .star_h3, .star_h4, .star_h5{width:100px; height:19px}
.star_h1{background-position:-80px -99px}
.star_h2{background-position:-60px -99px}
.star_h3{background-position:-40px -99px}
.star_h4{background-position:-20px -99px}
.star_h5{background-position:0 -99px}
/***** star(评价星号) end *****/

/***** loading start *****/
.loading{z-index:100; position:absolute; background:#ccc; top:0; left:0; width:100%; height:100%;}
.loading_big{background:url(img/global/loading.gif) no-repeat; z-index:9999; position:absolute; width:32px; height:32px; cursor:wait;}
.loading_small{background:url(img/global/loading_small.gif) no-repeat; z-index:9999; position:absolute; width:14px; height:14px; cursor:wait;}
/***** loading end *****/

/***** 浮动窗 start *****/
#float_window{ width:72px; padding:1px; border-radius:5px; background:#37bd9c; position:fixed; right:20px; top:150px; z-index:1111;}
#inner_window{ width:72px; border-radius:5px 5px 0 0; min-height:90px; background:#fff; overflow:hidden;}
#demo_window{ width:43px; margin:0 auto; margin-top:15px;}
#demo_window a{ display:block; width:43px; height:43px;}
#demo_window a.QQ{ background:url(img/global/qq.png) no-repeat center top;}
#demo_window a.Skype{ background:url(img/global/skype.png) no-repeat center top;}
#demo_window a.Email{ background:url(img/global/email.png) no-repeat center top;}
#demo_window a.trademanager{ background:url(img/global/ali.png) no-repeat center top;}
#demo_window div{background:#fff;}
#go_top{ display:block; height:24px; line-height:24px; color:#fff; text-align:center; font-size:14px;}
#go_top:hover{ text-decoration:none;}
/***** 浮动窗 end *****/

/***** 提示框 start *****/
#prompt_box{position:fixed; opacity:0.95; z-index:100000; top:20%;}
#prompt_box .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#prompt_close{top:10px; right:-5px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none; font-family:Helvetica; font-weight:bold; position:absolute; z-index:100000;}
#prompt_close:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}
#prompt_content{width:400px; padding:20px; padding-bottom:0px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#prompt_content label{font:14px/100% Verdana, Arial, Helvetica, sans-serif; display:block; padding-bottom:12px; color:#333; line-height:18px;}
#prompt_content ul{margin-top:16px;}
#prompt_content li{padding:8px 0;}
#prompt_content li label{ padding:0; font:inherit;}
#prompt_content li strong{font:14px/100% Verdana, Arial, Helvetica, sans-serif; display:inline-block; padding-right:10px; color:#000;}
#prompt_content li span{display:inline-block; padding-right:8px; color:#666;}
#prompt_content li span.price{color:#c70000; font-family:Verdana;}
#prompt_content .footRegion{-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; padding:14px 19px 15px; margin:15px 0 0 -19px; background-color:whiteSmoke; border-top:1px solid #ddd; -webkit-box-shadow:inset 0 1px 0 #ffffff; -moz-box-shadow:inset 0 1px 0 #ffffff; box-shadow:inset 0 1px 0 #ffffff; width:100%;}
#prompt_content .footRegion .btn{min-width:70px; display:inline-block; padding:4px 10px 4px; margin-bottom:0; font-size:13px; line-height:18px; color:#ffffff; text-align:center; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); vertical-align:middle; background-repeat:repeat-x; border:1px solid #cccccc; border-bottom-color:#b3b3b3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor:pointer;}
#prompt_content .footRegion .btn:hover{color:#333333; text-decoration:none; background-color:#e6e6e6; background-position:0 -15px; -webkit-transition:background-position 0.1s linear; -moz-transition:background-position 0.1s linear; -ms-transition:background-position 0.1s linear; -o-transition:background-position 0.1s linear; transition:background-position 0.1s linear;}
#prompt_content .footRegion .btn-success{background-color:#da4f49; background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image:-o-linear-gradient(top, #ee5f5b, #bd362f); background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f); background-image:linear-gradient(top, #ee5f5b, #bd362f); border-color:#bd362f #bd362f #802420; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); margin-right:20px;}
#prompt_content .footRegion .btn-success:hover{background-color:#bd362f; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); color:#ffffff;}
#prompt_content .cart_view{padding:15px 0 15px; font-size:14px;}
#prompt_content .cart_view p{height:37px; margin:0 0 10px; padding-left:45px; line-height:34px; background:url(img/global/normal.png) no-repeat -597px -145px;}
/***** 提示框 end *****/

/***** 国旗 start *****/
.icon_flag{background-image:url(img/global/icon_flag.png); background-repeat:no-repeat; width:16px; height:13px; display:inline-block;}
.flag_af{background-position:0 0;}
.flag_WW{background-position:-20px 0;}
.flag_WW{background-position:-40px 0;}
.flag_al{background-position:-60px 0;}
.flag_WW{background-position:-80px 0;}
.flag_dz{background-position:-100px 0;}
.flag_as{background-position:-120px 0;}
.flag_ad{background-position:-140px 0;}
.flag_ao{background-position:-160px 0;}
.flag_ai{background-position:-180px 0;}
.flag_WW{background-position:-200px 0;}
.flag_ag{background-position:-220px 0;}
.flag_WW{background-position:-240px 0;}
.flag_ar{background-position:-260px 0;}
.flag_am{background-position:-280px 0;}
.flag_aw{background-position:-300px 0;}
.flag_WW{background-position:-320px 0;}
.flag_au, .flag_hm{background-position:-340px 0;}
.flag_at{background-position:-360px 0;}
.flag_az{background-position:-380px 0;}
.flag_bs{background-position:-400px 0;}
.flag_bh{background-position:-420px 0;}
.flag_bd{background-position:-440px 0;}
.flag_bb{background-position:-460px 0;}
.flag_WW{background-position:-480px 0;}
.flag_by{background-position:0 -20px;}
.flag_be{background-position:-20px -20px;}
.flag_bz{background-position:-40px -20px;}
.flag_bj{background-position:-60px -20px;}
.flag_bm{background-position:-80px -20px;}
.flag_bt{background-position:-100px -20px;}
.flag_bo{background-position:-120px -20px;}
.flag_ba{background-position:-140px -20px;}
.flag_bw{background-position:-160px -20px;}
.flag_WW{background-position:-180px -20px;}
.flag_br{background-position:-200px -20px;}
.flag_io{background-position:-220px -20px;}
.flag_bn{background-position:-240px -20px;}
.flag_bg{background-position:-260px -20px;}
.flag_bf{background-position:-280px -20px;}
.flag_bi{background-position:-300px -20px;}
.flag_kh{background-position:-320px -20px;}
.flag_cm{background-position:-340px -20px;}
.flag_ca{background-position:-360px -20px;}
.flag_cv{background-position:-380px -20px;}
.flag_WW{background-position:-400px -20px;}
.flag_WW{background-position:-420px -20px;}
.flag_ky{background-position:-440px -20px;}
.flag_cf{background-position:-460px -20px;}
.flag_td{background-position:-480px -20px;}
.flag_cl{background-position:0 -40px;}
.flag_cn{background-position:-20px -40px;}
.flag_cx{background-position:-40px -40px;}
.flag_WW{background-position:-60px -40px;}
.flag_cc{background-position:-80px -40px;}
.flag_co{background-position:-100px -40px;}
.flag_WW{background-position:-120px -40px;}
.flag_km{background-position:-140px -40px;}
.flag_cg{background-position:-160px -40px;}
.flag_WW{background-position:-180px -40px;}
.flag_ck{background-position:-200px -40px;}
.flag_cr{background-position:-220px -40px;}
.flag_ci{background-position:-240px -40px;}
.flag_hr{background-position:-260px -40px;}
.flag_cu{background-position:-280px -40px;}
.flag_WW{background-position:-300px -40px;}
.flag_cy{background-position:-320px -40px;}
.flag_cz{background-position:-340px -40px;}
.flag_dk{background-position:-360px -40px;}
.flag_dj{background-position:-380px -40px;}
.flag_dm{background-position:-400px -40px;}
.flag_do{background-position:-420px -40px;}
.flag_ec{background-position:-440px -40px;}
.flag_eg{background-position:-460px -40px;}
.flag_sv{background-position:-480px -40px;}
.flag_WW{background-position:0 -60px;}
.flag_gq{background-position:-20px -60px;}
.flag_er{background-position:-40px -60px;}
.flag_ee{background-position:-60px -60px;}
.flag_et{background-position:-80px -60px;}
.flag_eu{background-position:-100px -60px;}
.flag_fk{background-position:-120px -60px;}
.flag_WW{background-position:-140px -60px;}
.flag_WW{background-position:-160px -60px;}
.flag_fj{background-position:-180px -60px;}
.flag_fi{background-position:-200px -60px;}
.flag_fr{background-position:-220px -60px;}
.flag_re{background-position:-220px -60px;}
.flag_pm{background-position:-220px -60px;}
.flag_wf{background-position:-220px -60px;}
.flag_nc{background-position:-220px -60px;}
.flag_tf{background-position:-240px -60px;}
.flag_gf{background-position:-260px -60px;}
.flag_ga{background-position:-280px -60px;}
.flag_WW{background-position:-300px -60px;}
.flag_gm{background-position:-320px -60px;}
.flag_ge{background-position:-340px -60px;}
.flag_de{background-position:-360px -60px;}
.flag_gh{background-position:-380px -60px;}
.flag_gi{background-position:-400px -60px;}
.flag_gr{background-position:-420px -60px;}
.flag_gl{background-position:-440px -60px;}
.flag_gd{background-position:-460px -60px;}
.flag_WW{background-position:-480px -60px;}
.flag_gt{background-position:0 -80px;}
.flag_gu{background-position:-20px -80px;}
.flag_gg{background-position:-40px -80px;}
.flag_gn{background-position:-60px -80px;}
.flag_gw{background-position:-80px -80px;}
.flag_gy{background-position:-100px -80px;}
.flag_ht{background-position:-120px -80px;}
.flag_WW{background-position:-140px -80px;}
.flag_hn{background-position:-160px -80px;}
.flag_hk{background-position:-180px -80px;}
.flag_hu{background-position:-200px -80px;}
.flag_WW{background-position:-220px -80px;}
.flag_is{background-position:-240px -80px;}
.flag_WW{background-position:-260px -80px;}
.flag_in{background-position:-280px -80px;}
.flag_id{background-position:-300px -80px;}
.flag_ir{background-position:-320px -80px;}
.flag_iq{background-position:-340px -80px;}
.flag_ie{background-position:-360px -80px;}
.flag_WW{background-position:-380px -80px;}
.flag_WW{background-position:-400px -80px;}
.flag_il{background-position:-420px -80px;}
.flag_it{background-position:-440px -80px;}
.flag_jm{background-position:-460px -80px;}
.flag_jp{background-position:-480px -80px;}
.flag_je{background-position:0 -100px;}
.flag_jo{background-position:-20px -100px;}
.flag_kz{background-position:-40px -100px;}
.flag_ke{background-position:-60px -100px;}
.flag_ki{background-position:-80px -100px;}
.flag_WW{background-position:-100px -100px;}
.flag_kw{background-position:-120px -100px;}
.flag_kg{background-position:-140px -100px;}
.flag_WW{background-position:-160px -100px;}
.flag_lv{background-position:-180px -100px;}
.flag_lb{background-position:-200px -100px;}
.flag_ls{background-position:-220px -100px;}
.flag_lr{background-position:-240px -100px;}
.flag_WW{background-position:-260px -100px;}
.flag_li{background-position:-280px -100px;}
.flag_lt{background-position:-300px -100px;}
.flag_lu{background-position:-320px -100px;}
.flag_WW{background-position:-340px -100px;}
.flag_mk{background-position:-360px -100px;}
.flag_mg{background-position:-380px -100px;}
.flag_mw{background-position:-400px -100px;}
.flag_my{background-position:-420px -100px;}
.flag_mv{background-position:-440px -100px;}
.flag_ml{background-position:-460px -100px;}
.flag_mt{background-position:-480px -100px;}
.flag_mh{background-position:0 -120px;}
.flag_mq{background-position:-20px -120px;}
.flag_mr{background-position:-40px -120px;}
.flag_mu{background-position:-60px -120px;}
.flag_yt{background-position:-80px -120px;}
.flag_mx{background-position:-100px -120px;}
.flag_fm{background-position:-120px -120px;}
.flag_md{background-position:-140px -120px;}
.flag_mc{background-position:-160px -120px;}
.flag_mn{background-position:-180px -120px;}
.flag_me{background-position:-200px -120px;}
.flag_ms{background-position:-220px -120px;}
.flag_ma{background-position:-240px -120px;}
.flag_mz{background-position:-260px -120px;}
.flag_mm{background-position:-280px -120px;}
.flag_na{background-position:-300px -120px;}
.flag_WW{background-position:-320px -120px;}
.flag_nr{background-position:-340px -120px;}
.flag_np{background-position:-360px -120px;}
.flag_an{background-position:-380px -120px;}
.flag_nl{background-position:-400px -120px;}
.flag_WW{background-position:-420px -120px;}
.flag_nz{background-position:-440px -120px;}
.flag_ni{background-position:-460px -120px;}
.flag_ne{background-position:-480px -120px;}
.flag_ng{background-position:0 -140px;}
.flag_nu{background-position:-20px -140px;}
.flag_nf{background-position:-40px -140px;}
.flag_WW{background-position:-60px -140px;}
.flag_WW{background-position:-80px -140px;}
.flag_WW{background-position:-100px -140px;}
.flag_mp{background-position:-120px -140px;}
.flag_no, .flag_bv{background-position:-140px -140px;}
.flag_WW{background-position:-160px -140px;}
.flag_WW{background-position:-180px -140px;}
.flag_WW{background-position:-200px -140px;}
.flag_om{background-position:-220px -140px;}
.flag_WW{background-position:-240px -140px;}
.flag_pk{background-position:-260px -140px;}
.flag_pw{background-position:-280px -140px;}
.flag_ps{background-position:-300px -140px;}
.flag_pa{background-position:-320px -140px;}
.flag_pg{background-position:-340px -140px;}
.flag_py{background-position:-360px -140px;}
.flag_pe{background-position:-380px -140px;}
.flag_ph{background-position:-400px -140px;}
.flag_pn{background-position:-420px -140px;}
.flag_pl{background-position:-440px -140px;}
.flag_pt{background-position:-460px -140px;}
.flag_pr{background-position:-480px -140px;}
.flag_qa{background-position:0 -160px;}
.flag_WW{background-position:-20px -160px;}
.flag_WW{background-position:-40px -160px;}
.flag_ro{background-position:-60px -160px;}
.flag_ru{background-position:-80px -160px;}
.flag_rw{background-position:-100px -160px;}
.flag_WW{background-position:-120px -160px;}
.flag_WW{background-position:-140px -160px;}
.flag_lc{background-position:-160px -160px;}
.flag_WW{background-position:-180px -160px;}
.flag_WW{background-position:-200px -160px;}
.flag_ws{background-position:-220px -160px;}
.flag_sm{background-position:-240px -160px;}
.flag_st{background-position:-260px -160px;}
.flag_sa{background-position:-280px -160px;}
.flag_WW{background-position:-300px -160px;}
.flag_sn{background-position:-320px -160px;}
.flag_rs{background-position:-340px -160px;}
.flag_sc{background-position:-360px -160px;}
.flag_sl{background-position:-380px -160px;}
.flag_sg{background-position:-400px -160px;}
.flag_WW{background-position:-420px -160px;}
.flag_sk{background-position:-440px -160px;}
.flag_si{background-position:-460px -160px;}
.flag_sb{background-position:-480px -160px;}
.flag_so{background-position:0 -180px;}
.flag_xs{background-position:-20px -180px;}
.flag_za{background-position:-40px -180px;}
.flag_WW{background-position:-60px -180px;}
.flag_kp{background-position:-80px -180px;}
.flag_WW{background-position:-100px -180px;}
.flag_es{background-position:-120px -180px;}
.flag_lk{background-position:-140px -180px;}
.flag_kn{background-position:-160px -180px;}
.flag_vc{background-position:-180px -180px;}
.flag_sd{background-position:-200px -180px;}
.flag_sr{background-position:-220px -180px;}
.flag_sj{background-position:-240px -180px;}
.flag_sz{background-position:-260px -180px;}
.flag_se{background-position:-280px -180px;}
.flag_ch{background-position:-300px -180px;}
.flag_sy{background-position:-320px -180px;}
.flag_WW{background-position:-340px -180px;}
.flag_tw{background-position:-360px -180px;}
.flag_tj{background-position:-380px -180px;}
.flag_tz{background-position:-400px -180px;}
.flag_th{background-position:-420px -180px;}
.flag_WW{background-position:-440px -180px;}
.flag_tg{background-position:-460px -180px;}
.flag_tk{background-position:-480px -180px;}
.flag_to{background-position:0 -200px;}
.flag_tt{background-position:-20px -200px;}
.flag_WW{background-position:-40px -200px;}
.flag_tn{background-position:-60px -200px;}
.flag_tr{background-position:-80px -200px;}
.flag_tm{background-position:-100px -200px;}
.flag_tc{background-position:-120px -200px;}
.flag_tv{background-position:-140px -200px;}
.flag_ug{background-position:-160px -200px;}
.flag_ua{background-position:-180px -200px;}
.flag_WW{background-position:-200px -200px;}
.flag_WW{background-position:-220px -200px;}
.flag_ae{background-position:-240px -200px;}
.flag_gb, .flag_gs{background-position:-260px -200px;}
.flag_WW{background-position:-280px -200px;}
.flag_WW{background-position:-300px -200px;}
.flag_us, .flag_um{background-position:-320px -200px;}
.flag_uy{background-position:-340px -200px;}
.flag_uz{background-position:-360px -200px;}
.flag_vu{background-position:-380px -200px;}
.flag_va{background-position:-400px -200px;}
.flag_ve{background-position:-420px -200px;}
.flag_vn{background-position:-440px -200px;}
.flag_vg{background-position:-460px -200px;}
.flag_vi{background-position:-480px -200px;}
.flag_WW{background-position:0 -220px;}
.flag_WW{background-position:-20px -220px;}
.flag_eh{background-position:-40px -220px;}
.flag_WW{background-position:-60px -220px;}
.flag_WW{background-position:-80px -220px;}
.flag_ye{background-position:-100px -220px;}
.flag_zm{background-position:-120px -220px;}
.flag_zw{background-position:-140px -220px;}
.flag_tl{background-position:-160px -220px;}
.flag_fo{background-position:-180px -220px;}
.flag_gp{background-position:-200px -220px;}
.flag_kr{background-position:-220px -220px;}
.flag_la{background-position:-240px -220px;}
.flag_ly{background-position:-260px -220px;}
.flag_mo{background-position:-280px -220px;}
.flag_ic{background-position:-320px -220px;}
.flag_cd{background-position:-340px -220px;}
.flag_xy{background-position:-360px -220px;}
.flag_pf{background-position:-380px -220px;}
.flag_sh{background-position:-400px -220px;}
/***** 国旗 end *****/